.tab {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
.tab-item {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #eee;
}
.tab-item.active {
    background-color: #800000;
    color: white;
    font-weight: bold;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 2px solid #800000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #CCCCCC;
}

.chitiet {
    text-decoration: underline;
    color: #861D22;
    font-weight: bold;
}

.chitiet:hover {
    color: darkblue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.btn-register {
    background-color: #800000;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer;
}

.btn-register:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btn-cancel {
    background-color: #800000;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer;
    width: 80px;
}

.btn-cancel:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.count-regist {
    color: #8B1C1C;
    font-weight: bold;
}

.count-approve {
    color: #39ff14;
    font-weight: bold;
}