.main {
    width: 95%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.main h2 {
    color: #8B0000;
    font-weight: bold;
    margin-bottom: 20px;
}

.filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    max-width: 500px;
    margin: 0 auto 20px;
    align-items: center;
}

.filters select,
.filters input {
    padding: 6px;
    font-size: 14px;
    border: 1px solid #8B0000;
    border-radius: 4px;
}

.filters select:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.filters select:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}
.filters select:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}
.filters input[type="text"] {
    grid-column: 2;
    grid-row: 2;
}

.search-btn {
	height: 100%;
    padding: 6px 12px;
    background-color: #8B0000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
}

.reset-btn{
	height: 100%;
    padding: 10px 16px;
    background-color: 	#cccccc;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

.approve-btn {
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.approve-btn:hover {
    background-color: #a10000;
}

.reg-count.red {
    color: red;
    font-weight: bold;
}

.reg-count.green {
    color: green;
    font-weight: bold;
}

.pagination {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
.pagination button.active {
    background-color: #8B0000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

.quota-summary {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}

.quota-summary p {
    margin: 5px 0;
}

.view-link {
    color: blue;
    font-weight: 500;
    cursor: pointer;
}

.view-link:hover {
    color: darkblue;
}

.approve-btn {
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.approve-btn.accepted {
    background-color: #28a745; /* xanh lá */
    cursor: not-allowed;
}

.reg-count.green {
    color: green;
}
.reg-count.red {
    color: red;
}


