<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/trangchu.css}" />
<div th:replace="~{layout/header :: header}"></div>
<div th:fragment="content">
    <div class="menu-grid">
        <div class="menu-item">
            <div class="menu-icon">
                <img src="/icon/Dangki.png" alt="Đăng ký đề tài">
            </div>
            <div class="menu-text">
                <p>Đăng ký đề tài</p>
            </div>
        </div>

        <div class="menu-item">
            <div class="menu-icon">
                <img src="/icon/Chamdiem.png" alt="Chấm điểm">
            </div>
            <div class="menu-text">
                <p>Giảng viên hướng dẫn</p>
            </div>
        </div>

        <div class="menu-item">
            <div class="menu-icon">
                <img src="/icon/Taomoi.png" alt="Tạo mới">
            </div>
            <div class="menu-text">
                <p>Đề xuất đề tài</p>
            </div>
        </div>

        <div class="menu-item" onclick="window.location.href='/profile'">
            <div class="menu-icon">
                <img src="/icon/Duyetsv.png" alt="Duyệt SV">
            </div>
            <div class="menu-text">
                <p>Cập nhật hồ sơ</p>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{layout/footer :: footer}"></div>
</html>
