<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" th:href="@{/css/trangchu.css}" />
</head>
<body>
<header class="header">
    <div class="logo-section">
        <img alt="" th:src="@{/img/banner2.png}">
    </div>
    <nav class="nav">
    	<div class ="nav1">
    		<a href="#">Trang chủ</a>
        	<a href="#">Trang thông tin</a>
    	</div>
        
        <div class="nav2">
            <span>Xin chào <strong th:text="${session.username}"></strong></span>
            <div class="dropdown">
                <button class="dropbtn">Khác<span class="arrow">▶</span></button>
                <div class="dropdown-content">
                    <a href="#">Hồ sơ</a>
                    <a href="#">Tập riêng tư</a>
                    <a href="#">Cập nhật mật khẩu</a>
                    <a href="#">Ngôn ngữ <span class="arrow">▶</span></a>
                    <a th:href="@{/logout}" class="logout">Đăng xuất</a>
                </div>
            </div>

        </div>  
    </nav>
</header>
<main class="main">
    <div class="menu-grid">
    <div class="menu-item">
        <div class="menu-icon">
            <img src="/icon/Dangki.png" alt="Đăng ký đề tài">
        </div>
        <div class="menu-text">
            <p>Đăng ký đề tài</p>
        </div>
    </div>

    <div class="menu-item">
        <div class="menu-icon">
            <img src="/icon/Chamdiem.png" alt="Cham diem">
        </div>
        <div class="menu-text">
            <p>Giảng viên hướng dẫn</p>
        </div>
    </div>

    <div class="menu-item">
        <div class="menu-icon">
            <img src="/icon/Taomoi.png" alt="Tao moi">
        </div>
        <div class="menu-text">
            <p>Đề xuất đề tài</p>
        </div>
    </div>

    <div class="menu-item">
        <div class="menu-icon">
            <img src="/icon/Duyetsv.png" alt="Duyet sv">
        </div>
        <div class="menu-text">
            <p>Cập nhật hồ sơ</p>
        </div>
    </div>
	</div>
</main>
<footer class="footer">
    <p>Design in 2025 by Group 5</p>
</footer>
</body>
</html>