<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/updateProfile.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<body>
<div th:replace="~{layout/header :: header}"></div>
<div th:fragment="content">
    <div class="form-container">
        <form class="profile-form">
            <div class="form-left">
                <label>Mã số</label>
                <input type="text" name="maso" th:value="${session.maso}" readonly />
                <label>Họ và tên</label>
                <input type="text" name="username" th:value="${session.username}" readonly />
                <label>Email</label>
                <input type="text" name="email" th:value="${session.email}" readonly />
                <div class="button-group">
                    <a th:href="@{/editProfile}" class="btn save">Sửa hồ sơ</a>
                </div>
            </div>
            <div class="form-right">
                <label class="lb-cv">Hồ sơ sinh viên</label>
                <div class="cv-readonly" th:utext="${sinhVien.cvhoso}">Nội dung hồ sơ năng lực ở đây...</div>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>
