<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tạo đề tài</title>

  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/css/project.css}" />
  <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>

<header class="header">
  <div class="logo-section">
    <img alt="" th:src="@{/img/banner2.png}">
  </div>
  <nav class="nav">
    <div class="nav1">
      <a href="home">Trang chủ</a>
      <a href="#">Trang thông tin</a>
    </div>

    <div class="nav2">
      <span>Xin chào <strong th:text="${session.username}"></strong></span>
      <div class="dropdown">
        <button class="dropbtn">Khác<span class="arrow">▶</span></button>
        <div class="dropdown-content">
          <a href="#">Hồ sơ</a>
          <a href="#">Tập riêng tư</a>
          <a href="#">Cập nhật mật khẩu</a>
          <a href="#">Ngôn ngữ <span class="arrow">▶</span></a>
          <a th:href="@{/logout}" class="logout">Đăng xuất</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="tab">
    <span class="active">TẠO ĐỀ TÀI</span>
    <span>ĐỀ TÀI CỦA TÔI</span>
  </div>

  <form class="form-box">
    <div class="form-left">
      <div class="input-group-item">
        <label>Mã số đề tài</label>
        <input type="text" name="maDeTai" />
      </div>

      <div class="input-group-item">
        <label>Tên đề tài </label>
        <input type="text" name="tenDeTai" />
        
      </div>

      <div class="input-group-item">
        <label>Mô tả đề tài</label>
        <input type="text" name="moTa" />
      </div>

      <div class="input-group-item">
        <label>Giảng viên ra đề</label>
        <input type="text" name="maGV" />
      </div>

      <div class="input-group-item">
        <label>Thể loại</label>
        <div class="radio-group">
          <label><input type="radio" name="theLoai" value="doan" /> Đồ án</label>
          <label><input type="radio" name="theLoai" value="chuyende" /> Chuyên đề</label>
        </div>
      </div>

      <div class="input-group">
        <div class="input-group-item">
          <label for="soLuong">Số sinh viên tối đa</label>
          <input type="number" name="soLuong" min="1" value="1" class="short-input" />
        </div>
        <div class="input-group-item">
          <label for="khoa">Dành cho khóa</label>
          <input type="number" name="khoa" min="1" value="66" class="short-input" />
        </div>
      </div>
      
      <div class="input-group-item">
        <label>Năm Học</label>
        <select name="namHoc">
          <option>Chọn năm hoc</option>
        </select>
      </div>

      <div class="input-group-item">
        <label>Lĩnh vực</label>
        <select name="linhVuc">
          <option>Chọn lĩnh vực</option>
        </select>
      </div>
    </div>

    <div class="form-right">
      <label>Chi tiết đề tài</label>
      <textarea class="chiTiet" name="chiTiet" rows="6" style="width: 100%; resize: vertical;"></textarea>
      <p class="note" >*sau khi tạo, đề tài sẽ được Khoa kiểm duyệt và chấp nhận</p>
    </div>
  </form>

  <div class="actions">
    <button class="btn-create">Tạo</button>
    <button class="btn-reset">Làm mới</button>
  </div>
</main>

<footer>
  Design in 2025 by Group 5
</footer>

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
<script>
  $(document).ready(function () {
    $(".chiTiet").richText();
  });
</script>

</body>
</html>
