<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/trangchu.css}" />
</head>
<body>
    <div th:replace="~{layout/header :: header}"></div>
    <div th:fragment="content">
        <div class="main">
            <div class="menu-grid">
                <a href="/taodetai" class="menu-item" style="text-decoration: none; color: inherit;">
                    <div class="menu-icon">
                        <img src="/icon/Taomoi.png" alt="Tạo đề tài">
                    </div>
                    <div class="menu-text">
                        <p>Tạo đề tài</p>
                    </div>
                </a>
                
                <a href="/giangvien/approvedproject" class="menu-item" style="text-decoration: none; color: inherit;">
                     <div class="menu-icon">
                        <img src="/icon/Duyetsv.png" alt="Duyệt sinh viên">
                    </div>
                    <div class="menu-text">
                        <p>Duyệt sinh viên hướng dẫn đề tài</p>
                    </div>
                </a>

              <a href="/giangvien/listTopic" style="text-decoration: none; color: inherit;">
    			<div class="menu-item">
        		<div class="menu-icon">
            	<img src="/icon/Danhsach.png" alt="Danh sách đề tài">
        		</div>
        		<div class="menu-text">
           			<p>Danh sách đề tài</p>
        		</div>
    			</div>
			</a>
			
			<a href="/giangvien/evaluateproject" style="text-decoration: none; color: inherit;">
    			  <div class="menu-item">
                    <div class="menu-icon">
                        <img src="/icon/Chamdiem.png" alt="Đánh giá bình luận">
                    </div>
                    <div class="menu-text">
                        <p>Đánh giá đề tài</p>
                    </div>
                </div>
			</a>

              
            </div>
        </div>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>