<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/topicInfo.css}" />
<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<body>
<div th:replace="~{layout/header :: header}"></div>
<div th:fragment="content">
  <div class="tab">
    <a class="btn-return" onclick="history.back();">◀ Trở về danh sách</a>
  </div>
  <div class="form-container">
    <form class="profile-form">
      <div class="form-left">
        <h3>Thông tin giảng viên</h3>
        <p><strong>Mã số: </strong> <span th:text="${giangvien.msgv}"></span></p>
        <p><strong>Họ và tên: </strong> <span th:text="${giangvien.hoten}"></span></p>
        <p><strong>Email: </strong> <span th:text="${giangvien.email}"></span></p>
        <p><strong>Hạn mức đồ án: </strong> <span th:text="${giangvien.HMHDDA}"></span>
        <p><strong>Hạn mức chuyên đề: </strong> <span th:text="${giangvien.HMHDCD}"></span>
      </div>
      <div class="form-right">
        <div class="group-title-profile">
          <h3>Hồ sơ năng lực</h3>
          <h4><a th:href="@{'/pdf/export/giangvien/' + ${giangvien.getCvnangluc()}}" target="_blank" class="btn-export">
            <i class="fas fa-file-pdf"></i> Xem PDF
          </a></h4>
        </div>
        <div class="topic-info" th:utext="${giangvien.getCvnangluc()}">Nội dung ở đây...</div>
      </div>
    </form>
  </div>
</div>
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>
