<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Duyệt sinh viên</title>
    <link rel="stylesheet" th:href="@{/css/trangchu.css}" />
    <link rel="stylesheet" th:href="@{/css/listDT.css}" />
</head>
<body>
    <div th:replace="~{layout/header :: header}"></div>
    <div th:fragment="content">
        <div class="main">
           <h2 th:text="${tenDetai}"></h2>
            <div class="quota-summary">
      		<p>Hạn mức Đồ án: <strong>[[${soSvDaDuyetDA}]] / [[${hanMucDA}]]</strong></p>
			<p>Hạn mức Chuyên đề: <strong>[[${soSvDaDuyetCD}]] / [[${hanMucCD}]]</strong></p>

    	</div>
             <table>
    <thead>
        <tr>
            <th>STT</th>
            <th>MSSV</th>
            <th>Tên sinh viên</th>
            <th>Hồ sơ</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="dangKy, stat : ${danhSachDK}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${dangKy.mssv.mssv}"></td>
			<td th:text="${dangKy.mssv.hoten}"></td>
            <td><a th:href="@{'/hoso/' + ${dangKy.mssv.mssv}}" class="view-link">Xem hồ sơ</a></td>
            <td>
            <form th:if="${dangKy.trangthai != 'Đã duyệt'}"
		      th:action="@{/detai/duyetsv/{msdt}/duyet/{mssv}(msdt=${dangKy.msdt.msdt}, mssv=${dangKy.mssv.mssv})}"
		      method="post">
		    <button type="submit" class="approve-btn">Duyệt</button>
		</form>
		<button th:if="${dangKy.trangthai == 'Đã duyệt'}"
		        class="approve-btn accepted" disabled>Đã duyệt</button>
        </td>
        </tr>
    </tbody>
</table>


                
                
        </div>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>