<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Duyệt sinh viên</title>
    <link rel="stylesheet" th:href="@{/css/trangchu.css}" />
    <link rel="stylesheet" th:href="@{/css/listDT.css}" />
</head>
<body>
    <div th:replace="~{layout/header :: header}"></div>
    <div th:fragment="content">
        <div class="tab" style="padding-top: 20px;">
            <a class="btn-return" style="color: #8B0000; cursor: pointer; text-decoration: none; padding-left: 15px; font-weight: bold;" onclick="history.back();">◀ Trở về danh sách</a>
        </div>
        <div class="main">
           <h2 th:text="${tenDetai}"></h2>
            <div class="quota-summary">
            <p>Sinh viên đã duyệt: <strong>[[${soSvDaDuyet}]]</strong></p>
      		<p>Hạn mức Đồ án: <strong>[[${soSvDaDuyetDA}]] / [[${hanMucDA}]]</strong></p>
			<p>Hạn mức Chuyên đề: <strong>[[${soSvDaDuyetCD}]] / [[${hanMucCD}]]</strong></p>
    	</div>
             <table>
    <thead>
        <tr>
            <th>STT</th>
            <th>MSSV</th>
            <th>Tên sinh viên</th>
            <th>Hồ sơ</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(danhSachDK)}">
        <td colspan="5" style="text-align: center; font-style: italic; color: gray;">
            Đề tài này chưa có sinh viên đăng ký.
        </td>
    </tr>
        <tr th:each="dangKy, stat : ${danhSachDK}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${dangKy.mssv.mssv}"></td>
            <td><span th:text="${dangKy.mssv.hoten}"></span></td>
            <td><a th:href="@{/profile/sinhvien/{id}(id=${dangKy.mssv.mssv})}" class="view-link">Xem</a></td>
            <td>
                <form th:if="${dangKy.trangthai != 'Đã duyệt'}"
                  th:action="@{/detai/duyetsv/{msdt}/duyet/{mssv}(msdt=${dangKy.msdt.msdt}, mssv=${dangKy.mssv.mssv})}"
                  method="post" onsubmit="return confirm('Bạn có chắc chắn muốn duyệt sinh viên này không?');">
                <button type="submit" class="approve-btn">Duyệt</button>
                </form>
		<button th:if="${dangKy.trangthai == 'Đã duyệt'}"
		        class="approve-btn accepted" disabled>Đã duyệt</button>
        </td>
        </tr>
    </tbody>
     </table>
        </div>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>