<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/trangchu.css}" />
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>
<div th:fragment="content">
    <div class="main">
        <div class="menu-grid">
        <a href="/duyetdetai" style="text-decoration: none; color: inherit;">
            <div class="menu-item">
                <div class="menu-icon">
                    <img src="/icon/Duyet.png" alt="Duyệt đề tài">
                </div>
                <div class="menu-text">
                    <p>Duyệt đề tài</p>
                </div>
            </div>
          </a>

            <a href="/giangvien/listTopic" style="text-decoration: none; color: inherit;">
    			<div class="menu-item">
        		<div class="menu-icon">
            	<img src="/icon/Danhsach.png" alt="Danh sách đề tài">
        		</div>
        		<div class="menu-text">
           			<p>Danh sách đề tài</p>
        		</div>
    			</div>
			</a>

            <a href="/createaccount" style="text-decoration: none; color: inherit;">
                <div class="menu-item">
                    <div class="menu-icon">
                        <img src="/icon/Captk.png" alt="Cấp tài khoản">
                    </div>
                    <div class="menu-text">
                        <p>Cấp tài khoản</p>
                    </div>
                </div>
            </a>

            <div class="menu-item">
                <div class="menu-icon">
                    <img src="/icon/Dangki.png" alt="Đề tài được đề xuất">
                </div>
                <div class="menu-text">
                    <p>Đề tài được đề xuất</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>